{% extends 'base.html' %}

{% block title %}Acerca de Nosotros{% endblock title %}

{% block contenido %}
<main class="hoc container clear"> 
    <div class="content three_quarter first"> 
        <h1>Acerca de Nosotros</h1>
        <p>Somos un equipo de apasionados por la tecnología, dedicados a compartir conocimientos y experiencias a través de nuestro blog. Nuestra misión es crear contenido de calidad que sea útil y accesible para todos, desde principiantes hasta expertos.</p>
        <p>¡Gracias por ser parte de nuestra comunidad!</p>
    </div>
</main>
{% endblock contenido %}